# Set the working application directory
# working_directory "/path/to/your/app"
working_directory "/var/www/wheely_test"

# Unicorn PID file location
# pid "/path/to/pids/unicorn.pid"
pid "/var/www/wheely_test/tmp/unicorn.pid"

# Path to logs
# stderr_path "/path/to/log/unicorn.log"
# stdout_path "/path/to/log/unicorn.log"
stderr_path "/var/www/wheely_test/log/unicorn.log"
stdout_path "/var/www/wheely_test/log/unicorn.log"

# Unicorn socket
#listen "/tmp/unicorn.[shopy].sock"
listen "/var/www/wheely_test/tmp/unicorn.wheely_test.sock"

# Number of processes
# worker_processes 4
worker_processes 1

# Time-out
timeout 30